html {
  box-sizing: border-box;
}

body {
  background-color: #ffee00;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
  height: 90vh;
}

h1,
h3 {
  margin: 1.5em;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 420px;
  height: 420px;
  border: solid 2px black;
}

.grid div {
  width: 15px;
  height: 15px;
}

.wall {
  background-color: #f5d491;
}

.pac-dot {
  background-color: #2121de;
  border: 5px solid #ffee00;
  box-sizing: border-box;
}

.power-pellet {
  background-color: #2121de;
  border-radius: 50%;
}

.pacman {
  background-color: #000;
  border-radius: 7.5px;
  border: none;
}

.blinky {
  background-color: #ff0000;
  border: none;
}

.pinky {
  background-color: #ffb8ff;
  border: none;
}

.inky {
  background-color: #00ffff;
  border: none;
}

.clyde {
  background-color: #ffb852;
  border: none;
}

.scared-ghost {
  background-color: #2121de;
  border: none;
}